@import "../../styles/variables";

.wrapper {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  padding-bottom: 35px;
  @include breackpoint(sm) {
    padding-top: 20px;
    min-height: 80%;
  }
  @include breackpoint(xs) {
    padding-top: 10px;
  }
  div {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start !important;
      @include breackpoint(sm) {
        height: 100%;
        padding-bottom: 50px;
      }
      @include breackpoint(xs) {
        height: 100%;
        padding-bottom: 0px;
      }
      .mainTitle {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        @include breackpoint(sm) {
          width: 100%;
          gap: 50px;
        }
        @include breackpoint(xs) {
          width: 100%;
          gap: 30px;
        }
        h1 {
          font-size: 63px;
          color: #ca9a16;
          font-weight: 600;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          @include breackpoint(sm) {
            font-size: 60px;
          }
          @include breackpoint(xs) {
            font-size: 58px;
          }
        }
        h2 {
          font-size: 30px;
          color: #2e2e2e;
          font-weight: 600;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          @include breackpoint(sm) {
            display: none;
          }
        }
        p {
          font-size: 20px;
          font-weight: 500;
          color: #2e2e2e;
          @include breackpoint(sm) {
            font-size: 22px;
          }
          @include breackpoint(xs) {
            font-size: 20px;
          }
        }
        .btn {
          border: none;
          padding: 10px 44px;
          font-size: 36px;
          position: relative;
          transition: all ease-in-out 0.4s;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          text-decoration: none;
          @include breackpoint(sm) {
            font-size: 30px;
          }
          &::before {
            transition: all 0.65s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            content: "";
            width: 3%;
            height: 100%;
            background: #ca9a16;
            position: absolute;
            top: 0;
            left: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            @include breackpoint(sm) {
              width: 100% !important;
              border-radius: 12px;
              background-color: #ca9a16;
              color: white !important;
            }
          }
          & .text {
            transition: all ease-in-out 0.65s;
            color: #2e2e2e;
            mix-blend-mode: darken;
            z-index: 1000;
            @include breackpoint(sm) {
              width: 100% !important;
              border-radius: 12px;
              background-color: #ca9a16;
              color: rgb(255, 255, 255) !important;
              mix-blend-mode: lighten;
            }
          }

          &:hover {
            & .text {
              color: #ffffff;
              mix-blend-mode: hard-light;
            }
            &::before {
              background: #ca9a16;
              width: 100%;
            }
          }
        }
        .potok {
          display: flex;
          align-items: center;
          gap: 5px;
          .start {
            padding: 10px;
            background-color: #b1920752;
            border-radius: 5px;
          }
          .summer {
            padding: 10px;
            background-color: #cfa31467;
            border-radius: 5px;
          }
        }
      }
      .mainImg {
        background-image: url("../../../public/images/nigg.jpg");
        height: 80vh;
        width: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: contain;
        background-position: right;
        @include breackpoint(sm) {
          display: none;
        }
      }
    }
  }
}
